#show-data {
    display: none;
}

.traverse {
    background-color: yellow;
}

.found {
    background-color: green;
}

.box {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right-50 {
    margin-right: 50px;
}

/* binary search specific classes */
.i {
    background-color: cyan;
    content: "i";
}

.m {
    background-color: darkorange;
    content: "m";
}

.j {
    background-color: darkcyan;
    content: "j";
}